table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: rgb(79, 81, 214);
    color: white;
  }
  .error {
    color:red;
}